@import url("font.css");
@import url("default.css");

body{
  /* background-image: url("../image/indexImage3.png"); */
  background-color: white;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}

table{
  border: 2px solid #7ed2f1;
    border-collapse: collapse;
}
tr, td{
  border: 2px solid #7ed2f1;
}

nav{
  /* border: 1px solid black; */
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

.icon{
  color: white;
}

#topBackground{
  z-index: 1;
  /* background-color: white; */
  background-color: #7ed2f1;
  display: flex;
  padding: 330px 0;
  transform: skew(0deg, -10deg)translateY(-30%);
  width:100%;
}

#challTitle{
  z-index: 2;
  /* border: 1px solid black; */
  width: 100%;
  top: 5%;
  position: absolute;
  display: block;
  text-align: center;
}

#challTitle h1{
  font-family: MonometricRegular;
  margin: 30px;
  font-size: 5em;
  color: white;
}

.mainDiv{
  z-index: 3;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.3);
  width: 970px;
  height: 750px;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
  position: relative;
}
